.container {
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

.messageArea {
    width: 96%;
}

.dialog {
    height: 60%;
}

.sendButton {
    width: 100%;
    background-color: orange;
}